---
---
table {
    tr{
        td {
            padding: 8px 0px 8px 10px !important;
            border: none !important;
            vertical-align: top;
        }
    }
}

h4 {
    color:#007bff; 
}

h6 {
    color:#0056b3;
}

hr {
    height: 1px; 
    background-color: orange !important;
}


.hr--main_text{
    height: 1px; 
    background-color: orange !important;
    opacity: 0.3;
}

.logo-description {
    margin-bottom: 4px; 
}


.logo-description--container {
    text-align: center;
    border: 2px solid orange;
    margin: 6px; 
    padding: 10px;
    border-radius: 25px;
    animation: glowAnimation 2s ease-in-out infinite, fadeInUp;

}


@keyframes glowAnimation {
    0%, 100% {
        box-shadow: 0 0 10px orange;
    }
    50% {
        box-shadow: 0 0 20px orange;
    }
}

.circle-image {
    animation: glowAnimation 2s ease-in-out infinite, zoomIn 1s;
    animation-delay: 0s !important;
}


// .animated {

// }

// .zoomIn {
//     -webkit-animation: zoomIn 1s;
//     animation: zoomIn 1s; 
//     animation-delay: 0.5;
// }

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0) !important;
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0) !important;
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}

@-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
}
  
@import "portfolYOU";