---
---
table {
    tr{
        td {
            padding: 8px 0px 8px 10px !important;
            border: none !important;
            vertical-align: top;
        }
    }
}

h4 {
    color:#007bff; 
}

h6 {
    color:#0056b3;
}

hr {
    height: 1px; 
    background-color: orange;
}

@import "portfolYOU";